* {
    margin: 0;
    padding: 0;
}

#tituloNome{
    text-align: center;
}
#imagem{
    text-align: center;
    display: block;
}
.container {
    display:flex;
}
.esquerda {
    flex: 1;
}
.direita {
    flex: 1;
    padding: 10px;
}
